<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220600650075-i8r72jq334leqodcriojctu7g7mhf9n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220600650075-i8r72jq334leqodcriojctu7g7mhf9n6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220600650075-6atm9v7gldv493bgshe9krofdr6lu5ff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpFIu-2y5yLMbKOVf3yBk2eiBBFLl2lnw</string>
	<key>GCM_SENDER_ID</key>
	<string>220600650075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trailer.trailer</string>
	<key>PROJECT_ID</key>
	<string>trailer-6111f</string>
	<key>STORAGE_BUCKET</key>
	<string>trailer-6111f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220600650075:ios:7e7fa7fc6bd70da96cf27e</string>
</dict>
</plist>